/* 
Name: Tabitha Love
Assignment: Final Project/Portfolio
Date: 12/05/2024
*/

/* GENERAL */
* {
   margin:0;
   padding: 0;
   font-family: "Patrick Hand", Verdana, 'Segoe UI', Geneva, Tahoma, sans-serif;
}
body {
   display: grid;
   width: 100%;
   grid-template-areas:
   'nav sec1'
   'nav div1'
   'nav sec2'
   'nav div2'
   'nav sec3'
   'nav div3'
   'nav sec4'
   'foot foot'
}
h1,h2 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
}

/* GRID */
#nav-parent {grid-area: nav;}
#section-1 {grid-area: sec1; /* has nested grid */
   display: grid;
   grid-template-areas: 
   'head head'
   'h2 image'
   'par image';
}
#divider-1 {grid-area: div1;}
#section-2 {grid-area: sec2;} /* has nested grid */
#divider-2 {grid-area: div2;}
#section-3 {grid-area: sec3;}
#divider-3 {grid-area: div3;}
#section-4 {grid-area: sec4;}
footer {grid-area: foot;}
/* Nested Grid in Section 1 */
header>h1 {grid-area: head;}
header>h2 {grid-area: h2;}
header>p {grid-area: par;}
header>img {grid-area: image;}
/* Nested Grid in Section 2 */
#iframe-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
   margin: 2vh;
}

/* HEADER AND BACKGROUND */
.section-parent {
   background-image: url("images/tile1.jpg");
   background-repeat: repeat;
   padding: 2vh 2vw;
}
header>h1 {
   margin: 3vh 0;
}
header>h2 {
   margin-top: 10vh;
}
header>img {
   margin: 3vh 0 3vh 2vw;
   box-shadow: 3px 2px 10px rgba(0, 0, 0, .8);
}
header>p {
   padding: 2vw;
}

/* NAVBAR */
#nav-parent {
   background-image: url("images/vertical_border2.png");
   background-repeat: repeat-y;
   background-size:contain;
}
#nav-parent nav {
   position: sticky;
   top: 25vh;
}
#nav-parent nav a {
   display: block;
   text-decoration: none;
   padding: 3vh 1vw;
   margin: 2vh 0;
   color: rgb(16, 68, 31);
   background-color: rgba(255, 255, 255, .95);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#nav-parent nav a:hover {
   box-shadow: 4px 2px 10px black;
   text-decoration: underline;
}
/* SECTION 2 IFRAMES */
.parent-iframe a>img {
   height: 20vh;
   overflow: scroll;
   width: 20vw;
}

/* DIVIDER */
.divider {
   display:block;
}
.divider::after {
   content:"";
   clear:both;
   display:table;
 }
.divider-img {
   margin-right: 0;
   margin-left: auto;
   height: 20vh;
   float: right;
   width: 80vw;
}

/* TABLE */
#section-3 {
   padding: 2vh 2vw;
}
table {
   margin: auto;
}
th {
   text-decoration: underline;
   padding: 1vh 2vw;
}
td {
   padding: 2vh 2vw;
   text-align: center;
}

/* FORM */
#section-4 {
   padding-left: 4vw;
}

/* FOOTER */
footer {
   text-align: center;
   background-color: blanchedalmond;
   padding: 2vh 1vw;
}
footer nav a {
   padding: 0 2vw;
   color: black;
}

@media screen and (max-width: 920px) {
   #section-1 {grid-area: sec1;
      display: grid;
      grid-template-areas: 
      'head'
      'image'
      'h2'
      'par';
      align-items: center;
   }
   #iframe-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30vw, auto));
      margin: 2vh;
      align-items: center;
   }
   .parent-iframe a>img {
      height: 30vh;
      overflow: scroll;
      width: 35vw;
   }
}
@media screen and (max-width: 540px) {
   #iframe-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .parent-iframe a>img {
      height: 30vh;
      overflow: scroll;
      width: 40vw;
   }
}