/*
Name: Tabitha Love
Date: Oct. 9, 2024
Assignment: Exam 2
*/
/* General */
html {
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/pawsTile.png");
}
body header {
    background-image: url("images/wood.png");
    width: 100%;
}
header h1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 3px 10px black;
    color: white;
    margin-left: 5px;
}
header.logo {
    float: right;
    width: 100%;
}
h2 {
    text-shadow: 2px 3px 15px white;
}
ul li {
    text-align: center;
    list-style-type: none;
    margin-right: 1.5em;
}
ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    color: white;
}
nav {
    width: 100%;
    background-color: goldenrod;
}
.subtitle {
    width: 100%;
}
footer {
    display: block;
    width: 100%;
    background-color: goldenrod;
    text-align: center;
}

/* General: Homepage */
#section-1 {
    margin-bottom: 2em;
}
#section-1-image-column img {
    width: 100%;
}
#section-1 p {
    width: 40%;
    background-color: rgba(170, 106, 74, .75);
    padding: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2%;
    font-size: 20px;
    box-sizing: border-box;
}
.section {
    background-color: rgba(170, 106, 74, .75);
    width: 90%;
    margin: auto;
    margin-bottom: 1.1em;
    padding: 5px;
}
.horizontal-row {
    margin-right: 8px;
}
.horizontal-row:last-child {
    margin-right: 0;
}
#column-1 img, #column-2 img {
    width: 100%;
}
#column-3 {
    background-color: rgba(170, 106, 74, .75);
    padding: 2em;
    box-sizing: border-box;
}
#column-3 p {
    background-color: goldenrod;
    padding: 1.2em;
}

/* General: Contact */
#hours ul li {
    text-align: left;
}

/* Flex Styles */
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column wrap;
}
nav ul {
    display: flex;
}
nav ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    flex-direction: column;
}
#section-1 {
    display: flex;
}
#section-2 {
    display: flex;
}
.horizontal-row {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}
#desktop-display-nav {
    flex-basis: 300px;
    flex-grow: 2;
    flex-shrink: 2;
}
#hours {
    display: flex;
}
#hours ul {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/* Mobile Layout */
@media screen and (max-width: 393px){
    #large-text-column-1, #image-2 {
        display: none;
    }
    #desktop-display-nav {
        display: none;
    }
    #column-2 img {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    #image-1 {
        flex-basis: 95%;
        margin: auto;
    }
    #column-2, #column-3 {
        width: 100%;
        margin: auto;
        justify-content: center;
    }
    #small-text-column-2 {
        display: block;
    }
    #section-1, #section-2 {
        display: block;
    }
    #section-1 p {
        width: 95%;
        margin: auto;
    }
    #section-1-image-column {
        width: 100%;
        margin: auto;
    }
    nav ul {
        flex-direction: column;
    }
}

/* Tablet Layout */
@media screen and (max-width: 744px) {
    body {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    #desktop-display-nav {
        display: none;
    }
    header h1 {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    #column-1 {
        display: none;
    }
    nav ul {
        display: flex;
        flex-wrap: nowrap;
        flex-flow: row;
    }
    #section-1-image-column {
        width: 50%;
    }
    #column-2 {
        flex-basis: 35%;
        margin-right: 2%;
    }
    #column-3 {
        flex-basis: 60%;
    }
    .logo {
        width: 100%;
    }
    #small-text-column-1, #small-text-column-2 {
        display: none;
    }
    #section-1 p {
        flex-flow: row-reverse;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
    #section-1-image-column {
        flex-shrink: 2;
        flex-grow: 1;
        flex-basis: 50%;
        flex-flow: row-reverse;
    }

}

/* Desktop */
@media screen and (min-width: 745px) {
    header h1 {
        float: left;
        font-size: 3em;
        width: 35%;
    }
    .logo {
        float: right;
        width: 55%;
    }
    nav ul li {
        flex-flow: row;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100px;
    }

    #column-1 {
        display: block;
        width: 30%;
    }
    #column-2 {
        width: 30%;
    }
    div#image-2 {
        display: block;
    }
    #large-text-column-1, #large-text-column-2 {
        display: block;
    }
    #small-text-column-1, #small-text-column-2 {
        display: none;
    }
    #desktop-display-nav {
        display: block;
    }
    #section-1 p {
        flex-flow: row-reverse;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
    }
    #section-1-image-column {
        flex-shrink: 2;
        flex-grow: 1;
        flex-basis: 50%;
        flex-flow: row-reverse;
    }
}
